<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023502851145-te4ifegsq8vsgt9t5o5u11cr0378bruf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023502851145-te4ifegsq8vsgt9t5o5u11cr0378bruf</string>
	<key>API_KEY</key>
	<string>AIzaSyAIC5ZMtJFcoO9_dMALtgQ1H74k42SS4m0</string>
	<key>GCM_SENDER_ID</key>
	<string>1023502851145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>new.TwitterDemo</string>
	<key>PROJECT_ID</key>
	<string>twitterdemo-3c34f</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterdemo-3c34f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023502851145:ios:9b98c32cbd243049f7f398</string>
</dict>
</plist>